:root {
    --background: #fcfcfc;
    --font1: #222222;
    --font2: #1c5757;
    --font3: #3fc2c2;
}

/*troubleshooting divs*/

/*div,
section,
ul,
h1,
p,
a{
    outline:1px solid red;
}
*/
/*global settings*/

html,
body{
    font-size:16px;
    padding:0px;
    margin:0px;
    font-family: sans-serif;
    height:100%;
    width:100%;
    background-color: var(--background);
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
    color: var(--font1)
}

a:hover {
    text-decoration: none;
    color: var(--font3);
}
ul, li, h1, h2, h3, p, a{
    padding:0px;
    margin:0px;
}

/* Nav Layout and design */

.navbar{
    display:flex;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    justify-content:space-between;
    align-items: center;
    font-size: 16px;
    background-color: var(--background);
    box-shadow: 0px 1px 5px rgba(44, 44, 44, 0.459);
    min-height: 50px;
    z-index: 999;
    text-align: center;
}
.menu{
    margin-right: 30px;
    flex:1;
}
.logo{
    margin-left: 30px;
    flex:1;
}

.nav-list{
    display:inline;
}
    @media (max-width:768px){
        .nav-list{
            display:block;
        }
        .navbar{
            flex-direction: column;
            text-align: center;
        }
        .menu, .logo{
            margin: 0px;
        }
        .logo {
            display:none;
        }
    }

/*welcome-section layout and design*/
.welcome-section{
    display:flex;
    flex-direction: column;
    width:100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px rgba(44, 44, 44, 0.459);
    margin-bottom: 20px;
    background-color: rgb(29, 28, 28);
    color: #fcfcfc;
}
.important{
    color: var(--font3);
}

/* Project Grid */

.mygrid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap:2rem;
    width:90%;
    margin:auto;
}
.project-tile{
    height: 400px;
    border-radius: 3%;
    background-color: #2f2f2f;
}

.project-tile a{
    color: #fcfcfc;
}
.project-tile a:hover{
    color: var(--font3);
}

.project-tile img{
    width:100%;
    height: 90%;
    object-fit: cover;
}
.project-tile h3{
    text-align: center;
}

/*contact section layout and style*/
.contact{
    width: 100%;
    height: 95vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font2);
    text-align:center;
}
.contact i{
    display:block;
}
.contact a{
    color: var(--font2);
    display:block;
}

.profile-link i:hover {
    transition: transform 0.3s ease-out;
    transform: translateY(2px);
}

footer{
    text-align: center;
    margin-bottom: 15px;
}
